<div class="footer">
  <div class="footer__signup">
    <p class="footer__signup__text">Signup for more like this</p>
    <a href="https://candygetshandy.com/#/portal" class="footer__signup__button">
     Subscribe
</a> 
  </div>

  <div class="footer__copyright">
    Candy Fair © <span id="footer-year"></span>. All rights Reserved.
  </div>

  <script>
    document.getElementById('footer-year').textContent = new Date().getFullYear();
  </script>

</div>
