<div class="footer">
  <div class="footer__signup">
    <p class="footer__signup__text">Signup for more like this</p>
    <a href="https://candyfairdesign.com/#/portal" class="footer__signup__button">
     Subscribe
</a> 
  </div>

  <div class="footer__copyright">
    Candy Fair © 2022. All rights Reserved.
  </div>
</div>