{{!< default}}

{{#page}}
<article class="about">

  <h1 class="about__title">{{title}}</h1>

  {{!-- Header --}}
  <div class="about__header-wrapper">
    <img
      src="{{asset "img/about-candy.png"}}"
      alt="Candy Gets Handy"
      class="about__header__image"
    >
    <div class="about__header__excerpt">{{excerpt}}</div>
  </div>


  {{!-- Content --}}
  <div class="about__content">{{content}}</div>

</article>
{{/page}}