{{!< default}}


{{#post}}
<article class="shop">
<a href="/shop/">< Back to the shop</a>

  {{!-- Content --}}
  <section class="shop__content">
    {{content}}
  </section>

</article>

{{!-- Navigation --}}
{{/post}}

<a href="/shop/">< Back to the shop</a>






