{{!< default}}

{{#post}}
<article class="comic">

  {{!-- Content --}}
  <section class="comic__content">
    {{content}}
  </section>

  {{!-- Article meta info --}}
  <div>
    {{#if custom_excerpt}}
      <p class="article__excerpt comic__excerpt">{{custom_excerpt}}</p>
    {{/if}}

    <div class="article__meta">
      Published on <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
    </div>
  </div>

</article>

{{!-- Navigation --}}
{{!-- {{> "pagination-comics"}} --}}
{{/post}}




