{{!< default}}

<a href="/shop/" class="shop__back-link">< Back to the shop</a>

{{#post}}
<article class="shop">

  {{!-- Content --}}
  <section class="shop__content">
    {{content}}
  </section>

</article>

{{!-- Navigation --}}
{{/post}}

<a href="/shop/">< Back to the shop</a>






