{{!< default}}

{{#post}}
<article class="shop">

  {{!-- Content --}}
  <section class="shop__content">
    {{content}}
  </section>

</article>

{{!-- Navigation --}}
{{!-- {{> "pagination-comics"}} --}}
{{/post}}

{{> "back"}}





