{{!< default}}

<h1 class="error__title">Oh no... the cat stole the page again!</h1>

<div class="error">
  <img
    src="{{asset "img/img-404.png"}}"
    alt="Error 404 image"
  >

  <div class="error__paragraph">
    <h2 class="error__subtitle">
      I can't find what you're looking for...
    </h2>
    <p>
      What are you going to do now?
    </p>
    <p>
      Well, you can read my <a href="/comics">comics</a>, get inspiration from my <a href="/illustrations">illustrations</a> and <a href="crafts">crafty activities</a> or start a discussion about <a href="/ux-coding">UX/UI design and coding</a>!
    </p>
    <p>
      Or you can also have a look below at the latest articles that have published on this blog.
    </p>
  </div>

</div>


{{!-- Last articles --}}
{{> "last-articles"}}