body {
  /* background-color: #F5F5F5; */
  background-color: #FFFFFF;
  color: #001C46;
  font-family: nunito, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 700;
}

/* ----------------------- GHOST ADMIN ----------------------- */
.kg-width-full img,
.kg-width-wide img {
    /* required by gcsan to properly validate the theme */
}

/* ####################### MOBILE VIEW ####################### */
.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

/* --------- Header (mobile) --------- */
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.header__logo {
  grid-column: 1 / 2;
  grid-row: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__nav {
  grid-column: 2 / 3;
  grid-row: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* --------- Posts index (mobile) --------- */
.posts {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.posts__feed {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
  
}

.post-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  
  margin: 1rem auto;
  align-items: center;
}

.post-card__image-wrapper {
  overflow: hidden;
  grid-column: 1 / 3;
  height: 100px;
}

.post-card__image-wrapper-featured {
  grid-column: 1 / 6;
  border-radius: 30px;
  height: 200px;
}

.post-card__image {
  width: 100%;
  border-radius: 20px;
}

/* Post card content */
.post-card__content-wrapper {
  grid-column: 3 / 6;

}

.post-card__content-wrapper-featured {
  grid-column: 1 / 6;
  margin-bottom: 1rem;
}

.post-card__primary-tag {
  color: #C10080;
  font-size: 1.1rem;
}

.post-card__primary-tag:hover {
  text-decoration: underline;
}

.post-card__primary-tag-large {
  font-size: 1.2rem;
}

.post-card__title {
  font-size: 1.4rem;
  line-height: 1.3;
  color: #001C46;
}

.post-card__title:hover {
  text-decoration: underline;
}

.post-card__title-large {
  font-size: 1.6;
}

.post-card__excerpt {
  display: none;
}

.post-card__meta {
  color: #9E9E9E;
  font-size: 0.8rem;
}

.post-card__meta-large {
  font-size: 0.9rem;
}

/* --------- Footer (mobile) --------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #001C46;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem auto;
}

.footer__signup__text {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

.footer__signup__button {
  font-size: 1.4rem;
  font-weight: 700;
  width: 160px;
  border: 3px solid #C10080;
  border-radius: 30px;
  background-color: #C10080;
  color: #fff;
  margin-top: 1rem;
  padding-top: 6px;
  padding-bottom: 8px;
  text-align: center;
}

.footer__copyright {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}


