body {
  /* background-color: #F5F5F5; */
  background-color: #FFFFFF;
  color: #001C46;
  font-family: nunito, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 700;
}


.back-link {
  color: var(--ghost-accent-color);
}

/* ----------------------- GHOST ADMIN ----------------------- */
.kg-width-full img,
.kg-width-wide img {
    /* required by gcsan to properly validate the theme */
}

.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

/* -- Tablets */
@media screen and (min-width: 600px) {
  .page-container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .page-container {
    max-width: 1200px;
  }

}

/* --------- Menu desktop --------- */
.menu-desktop {
  display: none;
}

/* -- Desktop */
@media screen and (min-width: 1024px) {
  .menu-desktop {
    display: block;
    position: absolute;
  }

  .menu-desktop ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu-desktop li {
    float: right;
    display: block;
    padding: 15px;
  }

  .menu-desktop__link {
    /* color: var(--ghost-accent-color); */
    color: #001C46;
  }

  .menu-desktop__link:hover {
    text-decoration: underline;
  }

  .menu-desktop__shop-link {
    text-decoration: none;
    padding: 11px 24px;
    border: solid 3px var(--ghost-accent-color);
    border-radius: 50px;
    color: var(--ghost-accent-color);
  }

  .menu-desktop__shop-link:hover {
    background-color: var(--ghost-accent-color);
    color: #FFFFFF;
  }

}


/* --------- Menu mobile --------- */
.menu-mobile-burger {
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml, %3Csvg width='30' height='30' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7C12.3956 7 12.7822 6.8827 13.1111 6.66294C13.44 6.44318 13.6964 6.13082 13.8478 5.76537C13.9991 5.39992 14.0387 4.99778 13.9616 4.60982C13.8844 4.22186 13.6939 3.86549 13.4142 3.58579C13.1345 3.30608 12.7781 3.1156 12.3902 3.03843C12.0022 2.96126 11.6001 3.00087 11.2346 3.15224C10.8692 3.30362 10.5568 3.55996 10.3371 3.88886C10.1173 4.21776 10 4.60444 10 5C10 5.53043 10.2107 6.03914 10.5858 6.41421C10.9609 6.78929 11.4696 7 12 7ZM12 17C11.6044 17 11.2178 17.1173 10.8889 17.3371C10.56 17.5568 10.3036 17.8692 10.1522 18.2346C10.0009 18.6001 9.96126 19.0022 10.0384 19.3902C10.1156 19.7781 10.3061 20.1345 10.5858 20.4142C10.8655 20.6939 11.2219 20.8844 11.6098 20.9616C11.9978 21.0387 12.3999 20.9991 12.7654 20.8478C13.1308 20.6964 13.4432 20.44 13.6629 20.1111C13.8827 19.7822 14 19.3956 14 19C14 18.4696 13.7893 17.9609 13.4142 17.5858C13.0391 17.2107 12.5304 17 12 17ZM12 10C11.6044 10 11.2178 10.1173 10.8889 10.3371C10.56 10.5568 10.3036 10.8692 10.1522 11.2346C10.0009 11.6001 9.96126 12.0022 10.0384 12.3902C10.1156 12.7781 10.3061 13.1345 10.5858 13.4142C10.8655 13.6939 11.2219 13.8844 11.6098 13.9616C11.9978 14.0387 12.3999 13.9991 12.7654 13.8478C13.1308 13.6964 13.4432 13.44 13.6629 13.1111C13.8827 12.7822 14 12.3956 14 12C14 11.4696 13.7893 10.9609 13.4142 10.5858C13.0391 10.2107 12.5304 10 12 10Z' fill='rgb(0, 28, 70)'/%3E%3C/svg%3E");
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* -- Desktop */
@media screen and (min-width: 1024px) {
  .menu-mobile-burger {
    display: none;
  }
}

.menu-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.20);
  z-index: 50;
}

.menu-mobile__container {
  display: none;
  width: 230px;
  /* height: 420px; */
  background-color: #FFFFFF;
  position: absolute;
  top: 80px;
  right: 30px;
  border-radius: 8px;
  z-index: 100;
  padding: 16px;
}

.visible {
  display: block;
}

.menu-mobile ul {
  list-style-type: none;
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.menu-mobile__link {
  font-size: 1.4rem;
  color: #001C46;
  margin-bottom: 16px;
  display: inline-block;
}

.menu-mobile__shop-button {
  text-decoration: none;
  padding: 2px 24px;
  border: solid 3px #C10080;
  background-color: transparent;
  border-radius: 50px;
  color: #C10080;
  font-weight: 700;
  font-size: 1.45rem;
  margin-bottom: 19px;

}

.menu-mobile__search {
  width: 200px;
  height: 40px;
  border-radius: 26px;
  font-size: 1.2rem;
  border: none;
  color: #001C46;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill-rule='none'%3E%3Cpath d='M20.71 19.29L17 15.61C18.4401 13.8144 19.1375 11.5353 18.9488 9.2413C18.7601 6.94731 17.6997 4.81279 15.9855 3.27665C14.2714 1.74051 12.0338 0.919514 9.73292 0.982474C7.43204 1.04543 5.24272 1.98757 3.61514 3.61515C1.98756 5.24273 1.04543 7.43204 0.98247 9.73293C0.91951 12.0338 1.74051 14.2714 3.27664 15.9855C4.81278 17.6997 6.9473 18.7601 9.2413 18.9488C11.5353 19.1375 13.8144 18.4401 15.61 17L19.29 20.68C19.383 20.7737 19.4936 20.8481 19.6154 20.8989C19.7373 20.9497 19.868 20.9758 20 20.9758C20.132 20.9758 20.2627 20.9497 20.3846 20.8989C20.5064 20.8481 20.617 20.7737 20.71 20.68C20.8902 20.4935 20.991 20.2443 20.991 19.985C20.991 19.7257 20.8902 19.4765 20.71 19.29ZM10 17C8.61553 17 7.26215 16.5895 6.11101 15.8203C4.95986 15.0511 4.06266 13.9579 3.53284 12.6788C3.00303 11.3997 2.86441 9.99224 3.1345 8.63437C3.4046 7.2765 4.07128 6.02922 5.05025 5.05026C6.02922 4.07129 7.2765 3.4046 8.63437 3.13451C9.99224 2.86441 11.3997 3.00303 12.6788 3.53285C13.9579 4.06266 15.0511 4.95987 15.8203 6.11101C16.5895 7.26216 17 8.61553 17 10C17 11.8565 16.2625 13.637 14.9497 14.9498C13.637 16.2625 11.8565 17 10 17Z'%3E%3C/path%3E%3C/svg%3E") left no-repeat;
  background-color: #EDEDF1;
  padding-left: 10px;
}

.menu-mobile__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 16px;
}

.menu-mobile__socials__icons {
  margin-right: 12px;
}

/* --------- Header --------- */
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.header__logo {
  grid-column: 1 / 2;
  grid-row: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__bubble-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header-desktop {
  display: none;    
} 

/* -- Tablet */
@media screen and (max-width: 600px) {
  .header__bubble-wrapper {
    top: 15px;
  }
}

/* -- Desktop */
@media screen and (min-width: 1024px) {
  .header__bubble-wrapper {
    left: 140px;
    transform: none;
  }  
}

/* -- Big desktop */
@media screen and (min-width: 1200px) {
  .header-tablet {
    display: none;
  }

  .header-desktop {
    display: flex;
  }

  .header__logo {
    align-items: flex-start;
  }

  .header__bubble-wrapper {
    position: relative;
    left: 20px;
  }  
}

.header__bubble {
  transform: rotate(15deg);
  height: 90px;
  width: auto;
  cursor: pointer;
}

.header__nav {
  grid-column: 2 / 3;
  grid-row: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ---------- About Page ---------- */
.about {
  text-align: center;
}

.about__title {
  font-size: 2rem;
  margin-bottom: 16px;
}


.about p {
  margin-bottom: 16px;
}

.about a {
  color: var(--ghost-accent-color);
}

.about a:hover {
  text-decoration: underline;
}

.about__header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #EDEDF1;
  border-radius: 30px;
  padding: 16px;
  background-color: #EDEDF1;
}

.about__header__image {
  max-width: 250px;
}

.about__header__excerpt {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 1.4rem;
  font-weight: 700;
}

.about__content {
  text-align: justify;
}

.about__content p {
  font-size: 1.3rem;
}

.about__content h2 {
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.2;
  color: var(--ghost-accent-color);
  font-size: 1.7rem;
  width: 70%;
}

/* -- Tablet */
@media screen and (min-width: 600px) {
  .about__header-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about__header__image {
    max-width: 300px;
  }

  .about__header__excerpt {
    max-width: 270px;
    font-size: 1.7rem;
  }

}

/* --------- Posts index --------- */
.posts {
  margin-top: 16px;
  margin-bottom: 16px;
}

.posts__feed {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
}

.post-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  
  margin: 16px auto;
  align-items: center;
}

.post-card-featured {
  width: 100%;
}

.post-cart__image__link {
  width: 100%;
}

/* -- Desktop */
@media screen and (min-width: 1024px) {
  .posts__feed {
    width: 100%;
  }
}

/* -- Tablets */
@media screen and (min-width: 600px) {
  .posts__feed {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -16px;
    margin-right: -16px;
  }

  .post-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    width: calc(100% / 3 - 32px);
  }

  .post-card-featured {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    
    grid-column: 1 / 7;
    width: 100%;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .filling-empty-space-childs {
    width: calc(100% / 3); /*the width of the images in this example*/
    height: 0; /*Important! for the divs to collapse should they fall in a new row*/
  }
  
}

.post-card__image-wrapper {
  overflow: hidden;
  grid-column: 1 / 3;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.post-card__image-wrapper-featured {
  grid-column: 1 / 6;
  border-radius: 30px;
  height: 200px;
}

.post-card__image {
  width: 100%;
  border-radius: 20px;
}

.post-card__image__height {
  width: 130px;
  height: 100px;
  object-fit: cover;
}

/* -- Tablets */
@media screen and (min-width: 600px) {
  .post-card__image-wrapper-featured {
    grid-column: 1 / 4;
    height: 100%;
    max-height: 300px;
  }
  .post-card__image__height-wrapper {
    height: 200px;
  }
  
  .post-card__image__height {
    object-fit: cover;
    height: 200px;
    width: 200px;    
  }
  
}

/* -- Desktop */
@media screen and (min-width: 1024px) {
  .post-card__image-wrapper-featured {
    grid-column: 1 / 4;
    height: 100%;
    max-height: 400px;
  }
  .post-card__image__height-wrapper {
    height: 300px;
  }
  
  .post-card__image__height {
    object-fit: cover;
    height: 300px;
    width: 300px;    
  }
  
}

/* Post card content */
.post-card__content-wrapper {
  grid-column: 3 / 6;

}

.post-card__content-wrapper-featured {
  grid-column: 1 / 6;
  margin-bottom: 16px;
}

/* -- Tablets */
@media screen and (min-width: 600px) {
  .post-card__content-wrapper-featured {
    grid-column: 4 / 7;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}

.post-card__primary-tag {
  color: var(--ghost-accent-color);
  font-size: 1.1rem;
}

.post-card__primary-tag:hover {
  text-decoration: underline;
}

.post-card__primary-tag-large {
  font-size: 1.2rem;
}

.post-card__title {
  font-size: 1.3rem;
  line-height: 1.3;
  color: #001C46;
}

.post-card__title:hover {
  text-decoration: underline;
}

.post-card__title-large {
  font-size: 1.6rem;
}

.post-card__excerpt {
  color: #777777;
  margin-top: 16px;
  margin-bottom: 16px;
}

.post-card__meta {
  color: #9E9E9E;
  font-size: 0.8rem;
}

.post-card__meta-large {
  font-size: 0.9rem;
}

/* --------- Post cards for comics (tag page) --------- */
.post-card-comics {
  height: 111px;
  width: 100%;
  border-bottom: 1px solid #EDEDF1;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.first-card-comics {
  border-top: 1px solid #EDEDF1;
}

.post-card-comics__image-wrapper {
  height: 110px;
  width: 110px;
  min-width: 110px;
  overflow: hidden;
}

.post-card-comics__image__link {
  width: 100%;
}

.post-card-comics__image {
  width: 100%;
  height: 100%;
}

.post-card-comics__meta-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
}

.post-card-comics__title {
  font-size: 1.2rem;
  line-height: 1.1;
  color: var(--ghost-accent-color);
}

.post-card-comics__meta {
  color: #777777;
  font-style: italic;
}

/* -- Tablets */
@media screen and (min-width: 600px) {
  .post-card-comics {
    border-left: 1px solid #EDEDF1;
    border-right: 1px solid #EDEDF1;
    height: 151px;
  }

  .post-card-comics__meta-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }

  .post-card-comics__title {
    font-size: 1.4rem;
  }

  .post-card-comics__image-wrapper {
    width: 150px;
    min-width: 150px;
    height: 150px;
  }
}


/* --------- TAG PAGE (for comics) --------- */
.tag {
  width: 100%;
}

.tag__latest-posts {
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 1.2rem;
}

.tag__navigation {
  margin: 0 auto;
}

/* Stretcher */
.tag__post-feed {
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 24px;
}

/* -- Tablets */
@media screen and (min-width: 600px) {
  .tag__post-feed {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 90%;
  }
}

/* --------- Category index  --------- */
.category, 
.tag
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 16px;
}

.category__title, 
.tag__title
{
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 8px;
  text-align: center;
} 

.category__description,
.tag__description {
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 1rem;
  color: #777777;  
  text-align: justify;
  max-width: 90%;
}

.category__latest-posts {
  font-size: 1.5rem;
  text-align: left;
  color: var(--ghost-accent-color);

}

/* --------- COMICS CATEGORY PAGE --------- */
.category-comics__description {
  color: #001C46; 
}

.category-comics__subtitle {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

.last-episodes {
  color: var(--ghost-accent-color);
}

.category-comics__serie__thumbnail {
  border: 1px #9E9E9E solid;
  border-radius: 8px;
  width: 100%;
  height: 200px;
  margin-bottom: 32px;
  position: relative;
  padding: 8px;
  transition: 0.3s;
}

.webtoons-category {
  background-color: #F3F3F3;
}

.category-comics__serie__illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 220px;
  width: auto;
}

.category-comics__serie__titre {
  font-size: 1.5rem;
  color: var(--ghost-accent-color);
}


.category-comics__serie__summary {
  width: 140px;
  height: 120px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: #777777;
}

.category-comics__serie__count {
  color: #001C46;
  font-size: 1.2rem;
}

/* -- Tablets & desktop */
@media screen and (min-width: 750px) {
  .category-comics__serie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .category-comics__serie__thumbnail {
    width: 340px;
  }

  .category-comics__serie__thumbnail:hover {
    border: 3px #C10080 solid;
    background-color: #F3F3F3;
  }

  .category-comics__post-feed {
    display: flex;
    flex-direction: row;
  }

}


/* --------- POST PAGE --------- */
.article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 16px;
  margin-bottom: 32px;
}

.article__header {
  width: 100%;
}

.article__header__tag {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--ghost-accent-color);
}

.article__header__title {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-top: 8px;
  margin-bottom: 8px;
}

.article__excerpt {
  font-size: 1.2rem;
  color: #777777;
  text-align: justify;
  margin-bottom: 8px;
}

.article__meta {
  color: #9E9E9E;
  font-size: 1rem;
  margin-bottom: 16px;
}

.article__featured-image-wrapper {
  margin-left: -16px;
  margin-right: -16px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- Tablets */
@media screen and (min-width: 600px) {
  .article__featured-image-wrapper {
    margin-left: -32px;
    margin-right: -32px;
  }
}

/* -- Big desktop */
@media screen and (min-width: 1200px) {
  .article__featured-image-wrapper {
    border-radius: 30px;
  }
}

.article__featured-image {
  width: 100%;
}

.article__content {
  padding-left: 8px;
  padding-right: 8px;
}

.article__content a {
  color: var(--ghost-accent-color);
}

.article__content p {
  font-size: 1.2rem;
  text-align: justify;
  margin-top: 16px;
  margin-bottom: 16px;
}

.article__content h2 {
  font-size: 1.6rem;
  line-height: 1.3;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}

.article__content h3 {
  font-size: 1.33rem;
  line-height: 1.3;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 16px;
}

.kg-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

.article__content .kg-image {
  border-radius: 30px;
}

blockquote {
  border-left: 0.2rem solid var(--ghost-accent-color);
  padding-left: 24px;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
}

hr {
  border: none;
  border-top: 1px solid #EDEDF1;
  margin: 16px 0;
}

.kg-callout-card {
  font-size: 1.1rem;
}

.kg-product-card-image {
  object-fit: cover;
}

/* -- Big desktop */
@media screen and (min-width: 1250px) {
  .article__header__tag,
  .article__header__title,
  .article__excerpt,
  .article__meta,
  .article__content,
  .similar-articles
  {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}

/* --------- COMIC PAGE --------- */
.comic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .comic {
    align-items: center;
  }

  .comic__content {
    width: 100%;
    max-width: 1000px;
  }

  .webcomic {
    max-width: 800px;
  }

}

.comic__content figure {  /* Stretch images */
  margin-left: -16px;
  margin-right: -16px;
}

.comic__content .kg-image {
  width: 100%;
}

.webcomic .kg-card,
.webcomic .kg-image-card,
.webcomic .kg-image
{
  --gap: 0;
}

.comic__content p {
  font-size: 1.2rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.comic__content h2 {
  font-size: 1.7rem;
  line-height: 1.3;
  text-align: center;
}

.comic__content h3 {
  color: var(--ghost-accent-color);
  font-size: 1.3rem;
  text-align: center;
}

.comic__excerpt {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* --------- Similar articles --------- */
.similar-articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.similar-articles__title {
  font-size: 1.6rem;
  color: var(--ghost-accent-color);
  text-align: center;
}

/* --------- Captions --------- */
figcaption,
.figure__caption
{
  color: #9E9E9E;
  font-size: 0.85rem;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 16px;
}

figcaption a,
.figure__caption a
{
  color: var(--ghost-accent-color);
}

/* --------- Pagination --------- */
.pagination {
  display: flex;
  justify-content: center;  
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.page-number {
  color: var(--ghost-accent-color);
}

.newer-posts,
.older-posts {
  padding-top: 4px;
}

/* --------- Pagination for comics --------- */
.pagination-comics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  margin-bottom: 16px;
}

.prev-post__wrapping {
  max-width: 50%;
}

.next-post__wrapping {
  max-width: 50%;
}

.nav-post-left,
.nav-post-right
{
  color: var(--ghost-accent-color);
}

.nav-post-left {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.nav-post-right {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.nav-post__meta {
  font-size: 1rem;
  color: #9E9E9E;
}

/* --------- Footer --------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #001C46;
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.footer__signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px auto;
}

.footer__signup__text {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

.footer__signup__button {
  font-size: 1.4rem;
  font-weight: 700;
  width: 160px;
  border: 3px solid var(--ghost-accent-color);
  border-radius: 30px;
  background-color: var(--ghost-accent-color);
  color: #fff;
  margin-top: 16px;
  padding-top: 6px;
  padding-bottom: 8px;
  text-align: center;
}

.footer__copyright {
  font-size: 0.8rem;
  margin-bottom: 16px;
}


